ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #6ec5e9;
}

.active {
    background-color: #2c51df;
}

#pic
{ 
margin:auto;
display: block;
width: 45%;

}

#words
{
	font-size:30pt;
	font-family: Lucida Console, sans-serif;
	 text-align: center;
	 margin-left: 10%;
	 margin-right: 10%;
}

#about
{
	font-size:35pt;
	font-family: Lucida Console, sans-serif;
	 text-align: center;
	 margin-left: 15%;
	 margin-right: 15%;
}

#game:visited
{
    color: red;
}

#quiz:visited
{
    color: red;
}


